/* Variables */
:root {
    --main: #C39C57;
    --mainSecondary: #DEB978;
    --dark: #000000;
    --darkSecondary: #4A4942;
    --light: #ffffff;
}

/* Fonts */
/* --Types */
.nunito_sans {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* --Colours */
.fontMain {
    color: var(--main);
}

.fontMainSecondary {
    color: var(--mainSecondary);
}

.fontLight {
    color: var(--light);
}

/* --Sizes */
.font_h1 {
    font-size: 47.78px;
}

.font_h3 {
    font-size: 33.18px;
}

.font_h5 {
    font-size: 23.04px;
}

.font_p {
    font-size: 16px;
}

@media only screen and (max-width: 991px) {
    .font_h1 {
        font-size: 39.81px;
    }

    .font_h3 {
        font-size: 27.65px;
    }

    .font_h5 {
        font-size: 16px;
    }
}

/* Default Tags */
body {
    background-color: black !important;
}

/* Navbar */
.imgLogo {
    width: 25.75px;
    height: 57.55px;

    background-image: url('../assets/logo/LogoMobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

@media only screen and (max-width: 991px) {
    .imgLogo {
        width: 20.11px;
        height: 45px;

        background-image: url('../assets/logo/LogoDesktop.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.navbar_li {
    margin-left: 100px;
    color: white !important;
}

#navbar_css {
    padding-left: 60px;
    padding-right: 60px;

    padding-top: 15px;
}

/* About */
#about {
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

/* --Header */
#imgHeader {
    margin-top: 0px;
    margin-left: -88px;

    width: 100%;
    height: 80%;
    max-height: 1040px;
    flex-shrink: 0;

    object-fit: cover;

    opacity: 0.33;
}

.divHeader {
    flex: 60%;
}

@media only screen and (max-width: 991px) {
    #imgHeader {
        margin-top: 0px;
        margin-left: 0px;

        width: 100%;
        height: 280px;
        flex-shrink: 0;

        object-fit: cover;

        opacity: 0.33;
    }
}

/* --Text Next to header */
.textContent {
    width: 40%;
    height: 100%;

    margin-top: 150px;

    flex: 40%;
}

.description {
    margin-top: 20px;
    width: 85%;
}

@media only screen and (max-width: 991px) {
    #about {
        height: 100%;
        width: 100%;

        display: contents;
        flex-wrap: none;
    }

    .textContent {
        width: 100%;
        margin-top: 20px;

        padding-left: 30px;
        padding-bottom: 30px;
    }
}

.seperator {
    margin-bottom: 20px;
}

.ul_skills {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li_skills {
    display: inline-block;
    width: 30%;
    text-align: left;

    color: var(--light);
}

.ul_hobbies {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li_hobbies {
    display: inline-block;
    width: 30%;
    text-align: left;

    color: var(--light);
}

@media only screen and (max-width: 991px) {
    .li_hobbies {
        display: inline-block;
        width: 50%;
        text-align: left;

        color: var(--light);
    }
}

.li_skills_mobile {
    display: inline-block;
    width: 40%;
    text-align: left;

    color: var(--light);
}

.ul_skills_hide {
    display: inherit;
}

.ul_skills_show {
    display: none;
}

@media only screen and (max-width: 991px) {
    .ul_skills_hide {
        display: none;
    }

    .ul_skills_show {
        display: inherit;
    }
}

.skills_circle {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}

.ul_hobbies {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li_hobbies {
    display: inline-block;
    width: 40%;
    text-align: left;

    color: var(--light);
}

.Hobbies_circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--light);
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}

/* Portfolio */
/* --Flickity */
.carousel {
    background: black;
}

.carousel-cell {
    width: 100%;
    height: 750px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.carousel-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s;

    border-radius: 25px;
}

/* brighten selected image */
.carousel-cell.is-selected img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none;
}

@media screen and (min-width: 768px) {
    .carousel-cell {
        height: 400px;
    }
}

@media screen and (min-width: 960px) {
    .carousel-cell {
        width: 60%;
    }
}

/* buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
}

.flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1;
}

/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}

.flickity-prev-next-button.no-svg {
    color: white;
}

/* closer to edge */
.flickity-prev-next-button.previous {
    left: 0;
}

.flickity-prev-next-button.next {
    right: 0;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

.flickity-page-dots .dot {
    background-color: var(--main) !important;
}

.flickity-button:hover {
    background: var(--main) !important;
}

/* --Portfolio CSS */
#portfolio {
    margin-bottom: 60px
}

.carousel_text {
    margin-left: 30px;
}

.carousel_title {
    text-align: center;
    margin-bottom: 30px;
}

.carousel_hidden {
    display: none;
}

.carousel_hide {
    display: inherit;
}

.carousel_links {
    color: white !important;
}

.carousel_links:hover {
    color: var(--mainSecondary) !important;
}

@media only screen and (max-width: 991px) {
    .carousel_hide {
        display: none;
    }
}

/* Contact Me */
.contact_hide {
    display: none;
}

@media only screen and (max-width: 991px) {
    .contact_hide {
        display: inherit;
    }
}

#contact {
    text-align: center;

    padding-top: 60px;
    padding-left: 0px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 991px) {
    #contact {
        text-align: left;

        padding-top: 10px;
        padding-left: 30px;
    }
}